<header><span class="ms-5" style="font-size:xx-large;">
    <img width="150px" src="https://www.freepnglogos.com/uploads/candy-png/ravelry-candy-floss-socks-pattern-emily-clawson-34.png" alt="">
    <b>CANDY SHOP</b> </span>

</header>