<header>
    <img width="150px" src="https://www.freepnglogos.com/uploads/candy-png/ravelry-candy-floss-socks-pattern-emily-clawson-34.png" alt="">
    <span style="font-size:xx-large"><b>CANDY SHOP</b> </span>
</header>