<%- include("partials/head.ejs") %>
</head>
<body class="m-5">
    <h1>New Product</h1>

    <form action="/products" method="POST">
    <div class="form-group">
        <label class="col-form-label col-form-label-lg mt-4" for="inputLarge">Product Name:</label>
        <input class="form-control form-control-lg" type="text" name="name" id="inputLarge" required>
      </div>
      <div class="form-group">
        <label class="col-form-label col-form-label-lg mt-4" for="inputLarge">Image URL:</label>
        <input class="form-control form-control-lg" type="url" name="img" id="inputLarge">
      </div>
      <div class="form-group">
      <label for="exampleTextarea" class="form-label mt-4">Description</label>
      <textarea class="form-control" name="description" id="exampleTextarea" rows="3" required></textarea>
    </div>
      <div class="form-group">
        <label class="col-form-label col-form-label-lg mt-4" for="inputLarge">Price:</label>
        <input class="form-control form-control-lg" type="number" step=0.01 min=0 name="price" required>
      </div>
      <div class="form-group">
        <label class="col-form-label col-form-label-lg mt-4" for="inputLarge">Inventory Qty:</label>
        <input class="form-control form-control-lg" type="number" name="qty" id="inputLarge" required>
      </div>
      <input type="submit" class="btn btn-primary m-3" value="Add Product">
</form>
</body>
</html>